.jopa {
    color:#D4D4D4;
    color:#000080;
    color:#6A9955;
    color:#C678DD;
    color:#646695;
    color:#ABB2BF;
    color:#D19A66;
    color:rgb(166, 38, 38);
    color:#98C379;
    color:#6796E6;
    color:#61AFEF;
    color:#d16969;
    color:#d7ba7d;
    color:#e0c285;
    color:#e06c75;
    color:#C8C8C8;
    color:rgb(86, 182, 194);
    color:rgb(38, 189, 164);
}

.vscode {
    color:#D4D4D4;
    color:#6A9955;
    color:#569CD6;
    color:#CE9178;
    color:#9CDCFE;
    color:#FFFFFF;
    color:#B5CEA8;
    color:#4EC9B0;
    color:#DCDCAA;
    color:#9CDCFE;
}